In [20]:
import pandas as pd
import numpy as np

from pathlib import Path

import matplotlib.pyplot as plt

# from wordcloud import WordCloud

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_curve, roc_auc_score

# Task One

In [22]:
KYC_PATH = Path('./data/raw/kyc.csv')
kyc = pd.read_csv(KYC_PATH)

In [23]:
kyc.groupby('label')['cust_id'].count()

label
0    190275
1      5514
Name: cust_id, dtype: int64

In [24]:
kyc.groupby('label')['age'].mean()

label
0    35.670687
1    41.428908
Name: age, dtype: float64

In [25]:
kyc.groupby('label')['tenure'].mean()

label
0    6.431917
1    9.859086
Name: tenure, dtype: float64

In [26]:
pd.crosstab(kyc['label'], kyc['gender'], normalize='index')

gender    female      male     other
label
0       0.450679  0.449718  0.099603
1       0.455205  0.446863  0.097933

In [28]:
occ_crosstab = pd.crosstab(kyc['occupation'], kyc['label'], normalize='columns')
occ_crosstab

label                    0         1
occupation
Actor             0.002165  0.000363
Actuary           0.002255  0.000363
Anesthesiologist  0.002186  0.000544
Animal Trainer    0.002969  0.000363
Antique Dealer    0.003805  0.006710
...                    ...       ...
Waiter/Waitress   0.006659  0.001995
Warehouse Worker  0.010448  0.001632
Wedding Planner   0.007473  0.010156
Window Cleaner    0.004126  0.000544
Zookeeper         0.002717  0.000544

[250 rows x 2 columns]

# Task Two

# Task Three