# EDA

## Setup

In [1]:
import pandas as pd
import numpy as np


import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.express as px
import plotly.io as pio
import kaleido 
print('kaleido version:', kaleido.__version__)

kaleido version: 0.1.0.post1

In [2]:
#Inline figures
# pio.renderers.default = 'iframe'

#Themeing
# mcolors = px.colors.qualitative.Dark24

pio.templates['custom'] = go.layout.Template(
    layout=dict(
        xaxis=dict(ticks='outside', tickcolor='lightgray', showgrid=False, showline=True),
        yaxis=dict(ticks='outside', tickcolor='lightgray', showgrid=False, showline=True, mirror=True),
        yaxis2=dict(ticks='outside', tickcolor='lightgray', showgrid=False,),
        # colorway=mcolors,
    )

)


pio.templates.default = 'plotly_white+custom'

# Data

In [4]:
kyc_df = pd.read_csv('../data/raw/kyc.csv')

In [11]:
kyc_df.groupby('label').count()

         Name  Gender  Occupation     Age  Tenure  cust_id
label
0      190275  190275      190275  190275  190275   190275
1        5514    5514        5514    5514    5514     5514

In [12]:
kyc_df=kyc_df.sample(frac=1, random_state=42)